@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@font-face {
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

:root {
    --cor0: #dddddd;
    --cor1: #cecece;
    --cor2: #888888;
    --cor3: #606060;
    --cor4: #5D483A;
    --font0: Arial, Helvetica, sans-serif;
    --font1: 'FonteLogo', Helvetica, sans-serif; 
    --font2: 'Titillium Web', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
}

div#interface {
    max-width: 1400px;
    margin: auto;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.211);
}

div#interface p {
    font-family: var(--font0);
    text-align: justify;
    text-indent: 50px;
    line-height: 1.5em;
    margin: 10px 0px;
}

/* Formatação de cabeçalho*/

header#cabecalho {
    border-bottom: 1px solid black;
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;
}

header#cabecalho h1 {
    font-family: var(--font1);
    font-size: 2.3em;
    color: var(--cor3);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.197);
}

header#cabecalho h2 {
    font-family: var(--font2);
    color: var(--cor4);
    font-size: 1.2em;
}

header#cabecalho img#icone {
    position: absolute;
    right: 50px;
    top: 60px;
}

/* Formatação de menu*/
nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 0px;
    right: 5%;
}

nav#menu li {
    display: inline-block;
    background-color: var(--cor0);
    padding: 10px;
    margin: 2px;
    transition: background-color .5s;
}

nav#menu li:hover {
    background-color: var(--cor3);
}

nav#menu a {
    color: black;
    text-decoration: none;
}

nav#menu a:hover {
    color: white;
    text-decoration: underline;
}

nav#menu h1 {
    display: none;
}

/* Configuração do artigo */
section#corpo {
    width: 66%;
    float: left;
    border-right: 1px solid var(--cor3);
    padding-right: 1%;
}

/* Configuração hgroup*/
header#cabecalho-artigo h1 {
    font-family: var(--font1);
    font-size: 1.5em;
    color: var(--cor3);
}

header#cabecalho-artigo h2 {
    font-size: 1em;
    color: var(--cor1);
    margin-left: 20px;
}

header#cabecalho-artigo h3 {
    font-size: .8em;
    color: var(--cor3);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.204);
    margin: 10px 0px;
}

.direita {
    text-align: right;
}

/* Configurações de artigo */

article#noticia-principal > h2 {
    font-size: 1em;
    color: var(--cor3);
    padding: 5px 0px 5px 10px;
    background-color: var(--cor0);
}


/* formatação de imagens com legendas */

figure.foto-legenda {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.421);
}

figure.foto-legenda img {
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
    opacity: 0;
    top: 0px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.415);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-legenda figcaption:hover {
    opacity: 1;
}


/* Configurações da tabela */

table#tabelaspec {
    border: 1px solid var(--cor3);
    margin: auto;
    border-spacing: 0px;
}

table#tabelaspec td {
    border: 1px solid var(--cor3);
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

table#tabelaspec td.ce {
    color: white;
    background-color: var(--cor3);
    vertical-align: top;
    font-weight: bold;
}

table#tabelaspec td.cd {
    background-color: var(--cor1);
}

table#tabelaspec caption {
    color: var(--cor2);
    font-size: 1.1em;
    font-weight: bolds;
}

table#tabelaspec caption span {
    display: block;
    float: right;
    color: black;
    font-size: .8em;
    margin-top: 8px;
}

/* Conigurações de video */

div.indexvideo {
    background-color: var(--cor4);
    position: relative;
    padding: 2%;
    margin: 10px 0px 0px 0px;
}

div.indexvideo video {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
}

/* Configurações de barra lateral*/
aside#lateral {
    width: 30%;
    float: right;
    background-color: var(--cor0);
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.503);
}

aside h1 {
    font-family: var(--font1);
    font-weight: normal;
    font-size: 1.7em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.193);
    color: var(--cor3);
}

aside h2 {
    font-family: var(--font2);
    font-size: 1em;
    font-weight: normal;
    color: white;
    background-color: var(--cor3);
    padding: 3px;
    margin-top: 10px;
}

footer#rodape {
    clear: both;
    border-top: 1px solid var(--cor3);
}

footer#rodape p {
    text-align: center;
}